<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define property placeholder -->
    <springProperty scope="context" name="logFilePath" source="application.logFilePath" />
    <springProperty scope="context" name="logLevel" source="application.loglevel" />

    <!-- Define log file location and name -->
    <property name="LOG_FILE"  value="${logFilePath}/logs/springdemoapplication.log" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <!-- Rotate daily + by size -->
            <fileNamePattern>logs/myapp-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

            <!-- Max size before creating next index -->
            <maxFileSize>10MB</maxFileSize>

            <!-- Keep logs for 30 days -->
            <maxHistory>30</maxHistory>

            <!-- Optional total cap -->
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <!-- Root Logger -->
    <root level="${logLevel}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
